.nfTmarkets {
  width: 79px;
  height: 22px;
  display: block;
  position: relative;
}
.image1 {
  background: url("/plasmic/im_xbeanies/images/image1.png") center center / cover no-repeat;
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  top: 0px;
  left: 8px;
}
.image2 {
  background: url("/plasmic/im_xbeanies/images/image2.png") center center / cover no-repeat;
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  top: 1px;
  left: 39px;
}
