.owner0XUid04D1968E100389 {
  display: block;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  width: 243px;
  height: 61px;
  position: relative;
}
