.claimPageVertContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px 10px;
}
.freeBox__wVg3K {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.claimPage {
  width: 414px;
  height: 736px;
  display: block;
  flex-shrink: 0;
}
.rectangle2 {
  background: #ffffff;
  width: 409px;
  height: 742px;
  display: block;
  position: absolute;
  top: 0px;
  left: 1px;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.text__z6E0I {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 14px;
  left: 292px;
  width: 98px;
  height: 25px;
}
.freeBox__y1Ga4 {
  display: flex;
  position: absolute;
  top: 123px;
  left: 55px;
  margin-right: 0px;
}
.claimBeanieHeader:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  margin-right: 0;
  flex-shrink: 0;
}
@media (min-width: 768px) {
  .claimBeanieHeader:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.text__o4Lb {
  display: block;
  font-size: 10px;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 691px;
  left: 147px;
  width: 125px;
  height: 11px;
}
.text__vqoc3 {
  display: block;
  font-size: 10px;
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 664px;
  left: 80px;
  width: 261px;
  height: 13px;
}
.imnotArt5 {
  background: url("/plasmic/im_xbeanies/images/imnotArt3.png") -10px -41px / 81px 90px no-repeat;
  width: 100px;
  height: 25px;
  display: block;
  position: absolute;
  top: 631px;
  left: 172px;
}
.svg {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 417px;
  height: 23px;
  display: block;
  top: 596px;
  left: 0px;
}
.frame1 {
  width: auto;
  height: 39px;
  display: flex;
  position: absolute;
  top: 528px;
  left: 141px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.poweredBy {
  display: block;
  font-size: 16px;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: 90px;
  height: 21px;
  flex-shrink: 0;
}
.image3 {
  background: url("/plasmic/im_xbeanies/images/image3.png") center center / cover no-repeat;
  width: 51px;
  height: 34px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.claimButton:global(.__wab_instance) {
  position: absolute;
  top: 429px;
  left: 134px;
}
.walletconnectButton:global(.__wab_instance) {
  position: absolute;
  top: 338px;
  left: 68px;
}
.ianButton {
  width: 326.25px;
  height: 48.75px;
  display: block;
  position: absolute;
  top: 215px;
  left: 29px;
}
.roundBlackButton:global(.__wab_instance) {
  position: absolute;
  top: 0px;
  left: 39px;
}
.text__y3Eje {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 291px;
  left: 191px;
  width: 29px;
  height: 25px;
  padding-right: 0px;
}
.imnotArt4 {
  background: url("/plasmic/im_xbeanies/images/imnotArt3.png") -20px -70px / 160px 155px no-repeat;
  width: 119px;
  height: 26px;
  display: block;
  position: absolute;
  top: 11px;
  left: 23px;
}
.img__tqXEv {
  position: absolute;
  object-fit: scale-down;
  max-width: none;
  left: 368px;
  top: 12px;
  width: 27px;
  height: 22px;
}
.img__tqXEv > picture > img {
  object-fit: scale-down;
}
.img__tqXEv > :global(.__wab_img-spacer) > img {
  object-fit: scale-down;
}
.img__i8UH {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 151px;
  left: 131px;
  top: 736px;
}
.img__i8UH > picture > img {
  object-fit: cover;
}
.img__i8UH > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ethDenverLogo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 121px;
  flex-shrink: 0;
  display: none !important;
}
.ethDenverLogo > picture > img {
  object-fit: cover;
}
.ethDenverLogo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
